Administrative/

# large files
libreria/files
Models/TK_CYP1A2inh/TK_CYP1A2inh-paralel_calculated_with_y.csv
Models/TK_HLM_us/TK_HLM-paralel_calculated_with_y.csv
Models/TK_HLM_us/TK_HLM_us-calculated_preimputation.csv
Models/TOX_hERGinh_NOoutliers/TOX_hERGinh_NOoutliers-paralel_calculated_with_y.csv
Models/TOX_hERGinh_NOoutliers/undesamplig_no_outliers/TOX_hERGinh-paralel_calculated_with_y.csv




#precompiled files
*.pyc 
/libreria/clusterized_DEPRECATED
clustering_DEPRECATED/
Models/DEPRECATED_novalid-TOX_hERGinh/undesamplig_no_descriptors/TOX_hERGinh-paralel_calculated_with_y.csv
Models/DEPRECATED_novalid-TOX_hERGinh/undesamplig_no_descriptors/TOX_hERGinh-paralel_calculated_with_y.csv
libreria/clusterized/2021 LIB_47489 CMPDS_26092024_clustered_clustered.sdf
libreria/clusterized/2021 LIB_47489 CMPDS_26092024_clustered_predicted_renamed.sdf
libreria/clusterized/all new library_104017 CMPDS_26092024_clustered_clustered.sdf
libreria/clusterized/all new library_104017 CMPDS_26092024_clustered_predicted_renamed.sdf
